.square {
  background: #fff;
  border: 1px solid #ccc;
  float: left;
  margin-right: _1px;
  margin-top: -1px;
  padding: 0;
  width: 100px;
  height: 100px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  line-height: 80;
}

.square:focus {
  outline: none;
}

/* Board Style */
.board-row:after {
  clear: both;
  content: "";
  display: table;
}